.has-text-reveal {
  opacity: 0;
}

#rotatingContainer {
  transition: transform .6s cubic-bezier(.445, .05, .55, .95);
  /* transition: transform 1s; */
}


.rotate-card {
  transition: opacity .45s;
}